body {
    user-select: none;
}

.my-title {
    color: black;
    font-size: 50px;
    transition-property: all;
    transition-duration: 2s;
}

.my-paragraph {
    font-size: 30px;
}


.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-changed {
    color: rgb(0, 0, 255);
    background-color: rgb(255, 0, 0);
    border-radius: 10px;
    padding: 5px;
}