body {
    user-select: none;
}

.my-title {
    color: black;
    font-size: 50px;
    transition-property: background-color, color;
    transition-duration: 2s, 2s;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}