body {
    user-select: none;
}

.my-title {
    /* width: 50px;
    height: 50px; */
    /* background-color: black; */
    color: black;
    font-size: 50px;
    transition-property: all;
    transition-duration: 2s;
}

.my-paragraph {
    font-size: 26px;
}


.container {
    /* min-height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-changed {
    color: rgb(0, 0, 255);
    background-color: rgb(255, 0, 0);
    border-radius: 10px;
    padding: 5px;
}

.btn-container {
    display: flex;
}

.btn {
    text-align: center;
    margin: 2rem;
    border: 2px solid black;
    padding: 1rem;
    cursor: pointer;
}

.btn1 {
    background-color: chocolate;
}

.btn2 {
    background-color: cornflowerblue;
}

.btn3 {
    background-color: chartreuse;
}